In [2]:
import numpy as np
import pandas as pd

In [3]:
a_1=pd.read_csv("F:\\firefoxdownload\\testb\\b\\test_beh_b.csv")
a_2=pd.read_csv("F:\\firefoxdownload\\testb\\b\\test_tag_b.csv")
a_3=pd.read_csv("F:\\firefoxdownload\\testb\\b\\test_trd_b.csv")

In [4]:
b_1=a_1.set_index('page_no').groupby('id')
b=b_1.groups

In [5]:
q=list(a_2['id'])
q=dict.fromkeys(q)

In [6]:
for i in q.keys():
    if i in b.keys():
        b[i]=[list(b[i]).count('FDA')+list(b[i]).count('TF2')+list(b[i]).count('JJD')+list(b[i]).count('JJK')+list(b[i]).count('LCT')+list(b[i]).count('MTA')+list(b[i]).count('SYK'),
              list(b[i]).count('AAO')+list(b[i]).count('BWA')+list(b[i]).count('CQA')+list(b[i]).count('CQB')+list(b[i]).count('CQC')+list(b[i]).count('CQD')+list(b[i]).count('CQE')+
              list(b[i]).count('FLS')+list(b[i]).count('FTR')+list(b[i]).count('GBA')+list(b[i]).count('LC0')+list(b[i]).count('SZA')+list(b[i]).count('SZD')+list(b[i]).count('ZY1'),
              list(b[i]).count('BWE')+list(b[i]).count('CTR')+list(b[i]).count('EGA')+list(b[i]).count('EGB')+list(b[i]).count('MSG')+list(b[i]).count('TRN')+list(b[i]).count('XAS')+list(b[i]).count('XAI')]
    else:
        b[i]=[0,0,0]

In [7]:
k=np.zeros((len(b),3))

In [8]:
i=0
for key in a_2['id']:
    for j in range(3):
        k[i,j]=b[key][j]
    i=i+1

In [9]:
 aa_3=a_3.set_index('cny_trx_amt').groupby('id')

In [10]:
aa_3=aa_3.groups

In [11]:
for key in a_2['id']:
    if key in aa_3.keys():
        aa_3[key]=sum(list(aa_3[key]))
    else:
        aa_3[key]=0

In [12]:
k_1=np.zeros(len(aa_3))

In [13]:
i=0
for key in a_2['id']:
    k_1[i]=aa_3[key]
    i=i+1

In [14]:
aa_4=a_3.set_index('Dat_Flg3_Cd').groupby('id')

In [15]:
aa_4=aa_4.groups

In [16]:
for i in a_2['id']:
    if i in aa_4.keys(): 
        aa_4[i]=[list(aa_4[i]).count('A'),list(aa_4[i]).count('B')]
    else:
        aa_4[i]=[0,0]

In [17]:
k_2=np.zeros((len(aa_4),2))
i=0
for key in a_2['id']:
    for j in range(2):
        k_2[i,j]=aa_4[key][j]
    i=i+1

In [18]:
a_2['page_low']=k[:,0]
a_2['page_medium']=k[:,1]
a_2['page_medium']=k[:,2]
a_2['deal']=k_1
a_2['deal_A']=k_2[:,0]
a_2['deal_B']=k_2[:,1]

In [19]:
##性别
e_4=list(a_2['gdr_cd'])

set(list(a_2['gdr_cd']))

{'F', 'M', '\\N'}

In [20]:
for i in range(len(e_4)):
    if e_4[i]=='M':
        e_4[i]=0
    else:
        e_4[i]=1

In [21]:
a_2['gdr_cd']=e_4

In [22]:
aa_2=a_2.drop(['atdd_type'],axis=1)
aa_2=aa_2.drop(['deg_cd'],axis=1)

In [23]:
x=list(aa_2['mrg_situ_cd'])

In [24]:
k_0=x.count('A')
k_1=x.count('B')
k_2=x.count('O')
k_3=x.count('\\N')
k_4=x.count('Z')
k_5=x.count('~')
k_6=k_0+k_1+k_2+k_4+k_5

In [25]:
for i in range(len(x)):
    if x[i]=='A':
        x[i]=1
    if x[i]=='B':
        x[i]=2
    if x[i]=='~':
        x[i]=2
    if x[i]=='O':
        x[i]=3
    if x[i]=='Z':
        x[i]=4
    else:
        x[i]=1*(k_0/k_6)+2*((k_1+k_5)/k_6)+3*(k_2/k_6)+4*(k_4/k_6)

In [26]:
aa_2['mrg_situ_cd']=x

In [27]:
x=list(aa_2['edu_deg_cd'])
set(x)

{'A', 'B', 'C', 'D', 'F', 'G', 'K', 'L', 'M', 'Z', '\\N', nan, '~'}

In [28]:
u=list(set(x))
c=np.zeros(len(u))
for i in range(len(u)):
    c[i]=x.count(u[i])
v={}
for i in range(len(u)):
    v[u[i]]=c[i]
v

{nan: 1247.0,
 'B': 661.0,
 'G': 92.0,
 '~': 10.0,
 'D': 1.0,
 'K': 211.0,
 'M': 4.0,
 'A': 83.0,
 '\\N': 86.0,
 'Z': 234.0,
 'L': 2.0,
 'F': 716.0,
 'C': 653.0}

In [29]:
s=sum(list(v.values())[1:])

In [30]:
for i in range(len(x)):
    if x[i]=='C':
        x[i]=3
    if x[i]=='B':
        x[i]=2
    if x[i]=='A':
        x[i]=1
    if x[i]=='D':
        x[i]=4
    if x[i]=='F':
        x[i]=5
    if x[i]=='G':
        x[i]=6
    if x[i]=='K':
        x[i]=7
    if x[i]=='L':
        x[i]=8
    if x[i]=='M':
        x[i]=9
    if x[i]=='J':
        x[i]=10
    if x[i]=='Z':
        x[i]=11
    if x[i]=='nan':
        x[i]=2
    if x[i]=='//N':
        x[i]=2
    if x[i]=='~':
        x[i]=3
    else:
        x[i]=3*(v['C']/s)+2*(v['B']/s)+1*(v['A']/s)+4*(v['D']/s)+5*(v['F']/s)+6*(v['G']/s)+7*(v['K']/s)+8*(v['L']/s)+9*(v['M']/s)
        +11*(v['Z']/s)+2*(v['\\N']/s)+3*(v['~']/s)

In [31]:
aa_2['edu_deg_cd']=x

In [32]:
x=list(aa_2['acdm_deg_cd'])
u=list(set(x))
u

['30', 'G', 'D', '\\N', '31', 'Z', 'F', 'C']

In [33]:
v=np.zeros(len(u))
for i in range(len(u)):
    v[i]=x.count(u[i])
l={}
for i in range(len(u)):
    l[u[i]]=v[i]

In [34]:
l

{'30': 822.0,
 'G': 1360.0,
 'D': 7.0,
 '\\N': 86.0,
 '31': 1027.0,
 'Z': 453.0,
 'F': 156.0,
 'C': 89.0}

In [35]:
for i in range(len(x)):
    if x[i]=='C':
        x[i]=1
    if x[i]=='D':
        x[i]=2
    if x[i]=='30':
        x[i]=3
    if x[i]=='Z':
        x[i]=4
    if x[i]=='31':
        x[i]=5
    if x[i]=='G':
        x[i]=6
    if x[i]=='F':
        x[i]=7
    if x[i]=='nan':
        x[i]=3
    if x[i]=='\\N':
        x[i]=1*(l['C']/sum(list(l.values())))+2*(l['D']/sum(list(l.values())))+3*(l['30']/sum(list(l.values())))+4*(l['Z']/sum(list(l.values())))
        +5*(l['31']/sum(list(l.values())))+6*(l['G']/sum(list(l.values())))+7*(l['F']/sum(list(l.values())))

In [36]:
aa_2['acdm_deg_cd']=x

In [37]:
Missingdata=aa_2.isnull().sum().rename_axis('Variables').reset_index(name='Missing Values')
Missingdata

                          Variables  Missing Values
0                                id               0
1                            gdr_cd               0
2                               age               0
3                       mrg_situ_cd               0
4                        edu_deg_cd               0
5                       acdm_deg_cd               0
6                          job_year               0
7                            ic_ind               0
8                      fr_or_sh_ind               0
9                   dnl_mbl_bnk_ind               0
10             dnl_bind_cmb_lif_ind               0
11                  hav_car_grp_ind               0
12                  hav_hou_grp_ind               0
13                    l6mon_agn_ind               0
14                   frs_agn_dt_cnt               0
15                 vld_rsk_ases_ind               0
16              fin_rsk_ases_grd_cd               0
17      confirm_rsk_ases_lvl_typ_cd               0
18         cust_inv_rsk_endu_lvl_cd               0
19                l6mon_daim_aum_cd               0
20                   tot_ast_lvl_cd               0
21                   pot_ast_lvl_cd               0
22  bk1_cur_year_mon_avg_agn_amt_cd               0
23       l12mon_buy_fin_mng_whl_tms               0
24          l12_mon_fnd_buy_whl_tms               0
25         l12_mon_insu_buy_whl_tms               0
26          l12_mon_gld_buy_whl_tms               0
27                     loan_act_ind               0
28                    pl_crd_lmt_cd               0
29             ovd_30d_loan_tot_cnt               0
30                  his_lng_ovd_day               0
31              hld_crd_card_grd_cd               0
32                 crd_card_act_ind               0
33      l1y_crd_card_csm_amt_dlm_cd               0
34                  perm_crd_lmt_cd               0
35                    cur_debit_cnt               0
36                   cur_credit_cnt               0
37         cur_debit_min_opn_dt_cnt               0
38        cur_credit_min_opn_dt_cnt               0
39                cur_debit_crd_lvl               0
40                         page_low               0
41                      page_medium               0
42                             deal               0
43                           deal_A               0
44                           deal_B               0

In [38]:
m=list(aa_2.columns)
n={}
for i in range(len(m)):
    n[m[i]]=set(list(aa_2[m[i]]))

In [39]:
h=[]
for i in n.keys():
    if '\\N' in list(n[i]):
        h.append(i)

In [40]:
h

['job_year',
 'ic_ind',
 'fr_or_sh_ind',
 'dnl_mbl_bnk_ind',
 'dnl_bind_cmb_lif_ind',
 'hav_car_grp_ind',
 'hav_hou_grp_ind',
 'l6mon_agn_ind',
 'frs_agn_dt_cnt',
 'vld_rsk_ases_ind',
 'fin_rsk_ases_grd_cd',
 'confirm_rsk_ases_lvl_typ_cd',
 'cust_inv_rsk_endu_lvl_cd',
 'tot_ast_lvl_cd',
 'pot_ast_lvl_cd',
 'l12mon_buy_fin_mng_whl_tms',
 'l12_mon_fnd_buy_whl_tms',
 'l12_mon_insu_buy_whl_tms',
 'l12_mon_gld_buy_whl_tms',
 'loan_act_ind',
 'ovd_30d_loan_tot_cnt',
 'his_lng_ovd_day',
 'hld_crd_card_grd_cd',
 'crd_card_act_ind',
 'l1y_crd_card_csm_amt_dlm_cd']

In [41]:
o=[]
for i in range(len(h)):
    c_1=list(aa_2[h[i]])
    for j in range(c_1.count('\\N')):
        c_1.remove('\\N')
    c_1=list(map(float,c_1))
    o.append(np.mean(c_1))

In [42]:
o

[2.8806990881458967,
 0.022796352583586626,
 0.1334853090172239,
 0.5924518743667679,
 0.8226950354609929,
 0.3842451874366768,
 0.017223910840932118,
 0.11423505572441743,
 173.22391084093212,
 0.21833839918946302,
 -0.36271529888551163,
 -0.11423505572441743,
 1.1623606889564337,
 -0.09929078014184398,
 2.0182370820668694,
 0.2763424518743668,
 0.7386018237082067,
 0.0035460992907801418,
 0.06332320162107397,
 0.05901722391084093,
 0.008105369807497468,
 1.2940729483282676,
 15.355623100303951,
 0.7160587639311043,
 2.4944275582573456]

In [43]:
for i in range(len(h)):
    x=list(aa_2[h[i]])
    for j in range(len(list(aa_2[h[i]]))):
        if list(aa_2[h[i]])[j]=='\\N':
            x[j]=o[i]
    aa_2[h[i]]=x

In [44]:
import pandas as pd

In [45]:
for i in range(len(h)):
    aa_2[h[i]]=pd.to_numeric(aa_2[h[i]])

In [46]:
aa_2.dtypes

id                                  object
gdr_cd                               int64
age                                  int64
mrg_situ_cd                        float64
edu_deg_cd                         float64
acdm_deg_cd                        float64
job_year                           float64
ic_ind                             float64
fr_or_sh_ind                       float64
dnl_mbl_bnk_ind                    float64
dnl_bind_cmb_lif_ind               float64
hav_car_grp_ind                    float64
hav_hou_grp_ind                    float64
l6mon_agn_ind                      float64
frs_agn_dt_cnt                     float64
vld_rsk_ases_ind                   float64
fin_rsk_ases_grd_cd                float64
confirm_rsk_ases_lvl_typ_cd        float64
cust_inv_rsk_endu_lvl_cd           float64
l6mon_daim_aum_cd                    int64
tot_ast_lvl_cd                     float64
pot_ast_lvl_cd                     float64
bk1_cur_year_mon_avg_agn_amt_cd      int64
l12mon_buy_fin_mng_whl_tms         float64
l12_mon_fnd_buy_whl_tms            float64
l12_mon_insu_buy_whl_tms           float64
l12_mon_gld_buy_whl_tms            float64
loan_act_ind                       float64
pl_crd_lmt_cd                        int64
ovd_30d_loan_tot_cnt               float64
his_lng_ovd_day                    float64
hld_crd_card_grd_cd                float64
crd_card_act_ind                   float64
l1y_crd_card_csm_amt_dlm_cd        float64
perm_crd_lmt_cd                      int64
cur_debit_cnt                        int64
cur_credit_cnt                       int64
cur_debit_min_opn_dt_cnt             int64
cur_credit_min_opn_dt_cnt            int64
cur_debit_crd_lvl                    int64
page_low                           float64
page_medium                        float64
deal                               float64
deal_A                             float64
deal_B                             float64
dtype: object

In [50]:
print(aa_2.isnull().any())

id                                 False
gdr_cd                             False
age                                False
mrg_situ_cd                        False
edu_deg_cd                         False
acdm_deg_cd                        False
job_year                           False
ic_ind                             False
fr_or_sh_ind                       False
dnl_mbl_bnk_ind                    False
dnl_bind_cmb_lif_ind               False
hav_car_grp_ind                    False
hav_hou_grp_ind                    False
l6mon_agn_ind                      False
frs_agn_dt_cnt                     False
vld_rsk_ases_ind                   False
fin_rsk_ases_grd_cd                False
confirm_rsk_ases_lvl_typ_cd        False
cust_inv_rsk_endu_lvl_cd           False
l6mon_daim_aum_cd                  False
tot_ast_lvl_cd                     False
pot_ast_lvl_cd                     False
bk1_cur_year_mon_avg_agn_amt_cd    False
l12mon_buy_fin_mng_whl_tms         False
l12_mon_fnd_buy_whl_tms            False
l12_mon_insu_buy_whl_tms           False
l12_mon_gld_buy_whl_tms            False
loan_act_ind                       False
pl_crd_lmt_cd                      False
ovd_30d_loan_tot_cnt               False
his_lng_ovd_day                    False
hld_crd_card_grd_cd                False
crd_card_act_ind                   False
l1y_crd_card_csm_amt_dlm_cd        False
perm_crd_lmt_cd                    False
cur_debit_cnt                      False
cur_credit_cnt                     False
cur_debit_min_opn_dt_cnt           False
cur_credit_min_opn_dt_cnt          False
cur_debit_crd_lvl                  False
page_low                           False
page_medium                        False
deal                               False
deal_A                             False
deal_B                             False
dtype: bool

In [49]:
aa_2.to_csv('F:\\firefoxdownload\\testb\\b\\b.csv')